{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}
{% load tz %}

<!-- {% load cache %} -->
{% block title %}Posts{% endblock title %}
<!-- {% block header %}{% endblock header %} --><!-- {% cache 30 content_cache_key %} -->
{% block content %}
<h1>{% trans "Все посты" %}</h1>
<!-- <style>
        body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
    </style> -->
<div class="button-container">
    <form action="{% url 'news_create' %}" method="get" class="button-left">
        <input type="submit" value="{% trans 'Написать новость или статью' %}" class="button" />
    </form>
    <form action="{% url 'set_language' %}" method="POST" class="language-selector">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ redirect_to }}"><select name="language" id="">
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% get_current_language as LANGUAGE_CODE %}
        {% for language in languages %}
            {% if language.code in "ru,en,es" %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
        <input type="submit" value="{% trans 'Установить' %}" class="button" />
    </form>
    {{ string }}

    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
    {% for tz in timezones %}
    <option value="{{ tz }}"
            {% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
    {% endfor %}
    </select>
        <input type="submit" value="{% trans 'Установить' %}" class="button" />
    </form>
    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }}

    <form action="{% url 'post_search' %}" method="get" class="button-right">
        <input type="submit" value="{% trans 'Найти' %}" class="button" />
    </form>

    {% for model in models %}
    <div class="model-class">
        {{ model.name }}
    </div>
    {% endfor %}
</div>
<h3>{% current_time '%b %d %Y' %}</h3>
<p>{% trans "Постов на странице" %}: {{ posts|length }}</p>
<p>{% trans "Общее число постов" %}: {{ total_posts }}</p>
<hr>
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
    }
    .button-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .button:hover {
        background-color: #45a049;
    }
    table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 12px;
        text-align: center;
    }
    th {
        background-color: #f4f4f4;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    .pagination {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .pagination a {
        margin: 0 5px;
        padding: 8px 16px;
        text-decoration: none;
        background-color: #f4f4f4;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .pagination a:hover {
        background-color: #ddd;
    }
    .img-small {
    max-width: 150px;
    height: auto;
    }
</style>

{% if posts %}
    <table>
        <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Изображение" %}</th>
            <th>{% trans "Автор" %}</th>
            <th>{% trans "Заголовок" %}</th>
            <th>{% trans "Дата написания" %}</th>
            <th>{% trans "Содержимое" %}</th>
            <th>{% trans "Подробнее" %}</th>
        </tr>
        {% for post in posts %}
        <tr>
            {% with bad_words="дурак" %}
            <td style="background-color: #e8efff;">{{ post.id }}</td>
            <td>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Изображение поста" class="img-small">
                {% else %}
                    <p>Нет изображения</p>
                {% endif %}
            </td>
            <td>{{ post.author }}</td>
            <td>{{ post.title|censor:bad_words }}</td>
            <td>{{ post.created_at }}</td>
            <td>{{ post.text|truncatechars:20|censor:bad_words }}</td>
            <td>
                <form action="{% url 'post_detail' post.id %}" method="get">
                    <input type="submit" value="{% trans 'Подробнее' %}" class="button" />
                </form>
            </td>
            {% endwith %}
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>{% trans "Постов нет!" %}</h2>
{% endif %}

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    <span>{{ page_obj.number }}</span>
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
</div>

{% endblock content %}
<!-- {% endcache %} -->