{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- {% load cache %} -->

{% block title %}Post{% endblock title %}

<!-- {% block header %}
{% endblock header %}

{% cache 30 content_cache_key %} -->
{% block content %}
    <h1>Детали "{{ post }}"</h1><style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            text-align: center;
            padding: 10px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
<table>
    <tr>
        <th>ID</th>
        <th>Заголовок</th>
        <th>Дата написания</th>
        <th>Содержимое</th>
    </tr>
    <tr>
        <!-- <td>{{ post.author }}</td>  -->
        <!-- <td>{{ post.type }}</td>  -->
        {% with bad_words="дурак" %}
            <td style="background-color: #e8efff;">{{ post.id }}</td>
            <td>{{ post.title|censor:bad_words }}</td>
            <td>{{ post.created_at }}</td>
            <td>{{ post.text|censor:bad_words }}</td>
        {% endwith %}
        <!-- <td>{{ post.rating }}</td>  -->
    </tr>
</table>
{% endblock content %}
<!-- {% endcache %} -->