{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все посты</h1>
<div class="button-container">
    <form action="{% url 'news_create' %}" method="get" class="left-button">
        <input type="submit" value="Написать новость или статью" />
    </form>
    <form action="{% url 'post_search' %}" method="get" class="center-button">
        <input type="submit" value="Найти" />
    </form>
</div>
<h3>{% current_time '%b %d %Y' %}</h3>
<p>Постов на странице: {{ posts|length }}</p>
<p>Общее число постов: {{ total_posts }}</p>
<hr>

   <style>
       table {
           width: 100%;
           border-collapse: collapse;
       }

       table, th, td {
           border: 1px solid black;
       }

       th, td {
           text-align: center;
           padding: 10px;
       }

       th {background-color: #f2f2f2;}
       .button-container {
    display: flex;
    gap: 970px;
}

   </style>

   {% if posts %}
       <table>
           <tr>
               <th>ID</th>
               <th>Автор</th>
               <!-- <th>Тип статьи</th> -->
               <th>Категории</th>
               <th>Заголовок</th>
               <th>Дата написания</th>
               <th>Содержимое</th>
               <!-- <th>Рейтинг</th> -->
           </tr>
           {% for post in posts %}
           <tr>
               {% with bad_words="дурак" %}
                    <td>{{ post.id }}</td>
                    <td>{{ post.author }}</td>
                    <!-- <td>{{ post.type }}</td> -->
                    <td>{{ post.categories }}</td>
                    <td>{{ post.title|censor:bad_words }}</td>
                    <td>{{ post.created_at }}</td>
                    <td>{{ post.text|truncatechars:20|censor:bad_words }}</td>
                {% endwith %}
               <!-- <td>{{ post.rating }}</td>  -->
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Постов нет!</h2>
   {% endif %}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
