{% extends "main.html" %}
{% load i18n %}

{% block title %}
    {% trans "Страница пользователя" %}
{% endblock title %}

{% block content %}
<h2>{% trans "Страница пользователя" %}</h2>

{% if is_not_authors %}
    <div>{{ request.user.username }}, {% trans "вы - Читатель!" %}</div>
    <button><a href="/sign/upgrade/">{% trans "Хочу стать Автором!" %}</a></button>
{% else %}
    <div>{{ request.user.username }}, {% trans "вы - Автор. Поздравляем!" %}</div>
{% endif %}

<button><a href="/accounts/logout/">{% trans "Выйти" %}</a></button>
{% endblock %}
