{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}

{% block title %}
Posts
{% endblock title %}

{% block content %}

<h1>{% trans "Поиск новостей" %}</h1>
   <form action="" method="get">
       <label for="author">{% trans "Автор" %}:</label>
        {{ filterset.form.author }}

        <label for="title">{% trans "Заголовок" %}:</label>
        {{ filterset.form.title }}

        <label for="text">{% trans "Содержимое" %}:</label>
        {{ filterset.form.text }}

        <label for="created_at__lte">{% trans "По дату" %}:</label>
        {{ filterset.form.created_at__lte }}

    <input type="submit" value="{% trans 'Найти' %}" />
</form>
<form action="{% url 'posts_list' %}" method="get">
    <input type="submit" value="{% trans 'Вернуться' %}" />
</form>
   <h3>{% current_time '%b %d %Y' %}</h3>
    <p>{% trans "Постов на странице" %}: {{ posts|length }}</p>
   <p>{% trans "Общее число постов" %}: {{ total_posts }}</p>
   <hr>

   <style>
       table {
           width: 100%;
           border-collapse: collapse;
       }

       table, th, td {
           border: 1px solid black;
       }

       th, td {
           text-align: center;
           padding: 10px;
       }

       th {background-color: #f2f2f2;}
   </style>

   {% if posts %}
       <table>
           <tr>
               <th>{% trans "Автор" %}</th>
               <th>{% trans "Тип статьи" %}</th>
               <th>{% trans "Заголовок" %}</th>
               <th>{% trans "Дата написания" %}</th>
               <th>{% trans "Содержимое" %}</th>
               <!-- <th>Рейтинг</th> -->
           </tr>
           {% for post in posts %}
           <tr>
               {% with bad_words="дурак" %}
                    <td>{{ post.author }}</td>
                    <td>{{ post.type }}</td>
                    <td>{{ post.title|censor:bad_words }}</td>
                    <td>{{ post.created_at }}</td>
                    <td>{{ post.text|truncatechars:20|censor:bad_words }}</td>
                {% endwith %}
               <!-- <td>{{ post.rating }}</td>  -->
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>{% trans "Постов нет!" %}</h2>
   {% endif %}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
